.master_box {
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: auto;
    grid-template-areas:
    "navbar all_sections"

}

.navbar {
    grid-area: navbar;
}

.all_sections {
    grid-area: all_sections;
}